<nav class="navbar navbar-expand-md bg-dark navbar-dark px-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home"
      ><i class="bi bi-twitter fs-3 pe-2"></i><i class="fs-3">TweetUp</i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto pe-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >About us</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"
            >FAQ</a
          >
        </li>
        <li
          class="nav-item"
          *ngIf="this.authService.isLoggedIn()"
          (click)="this.authService.logout()"
        >
          <a class="nav-link active" aria-current="page">Logout</a>
        </li>
        <li class="nav-item" *ngIf="this.authService.isLoggedOut()">
          <a class="nav-link active" aria-current="page" routerLink="/login"
            >Login</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
