<div class="container my-5">
  <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1 pb-4">Welcome to TweetUp!</h1>
      <p class="lead">
        The website will be a platform for users to share short messages and
        media with their followers, who can then like and comment on these
        posts. Users will also be able to follow other users, view their posts,
        and discover new content through hashtags and trending topics.
      </p>
      <div
        class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 pt-4"
      >
        <button
          type="button"
          class="btn btn-outline-dark btn-lg"
          routerLink="/register"
        >
          Sign Up
        </button>
        <button
          type="button"
          class="btn btn-outline-dark btn-lg"
          routerLink="/login"
        >
          Log In
        </button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden text-center">
      <i class="bi bi-twitter vh-50" style="font-size: 300px; color: black"></i>
    </div>
  </div>
</div>
